{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>{{ title }}</h1>
    <div class="card-container">
      {# {{dump(deck[0].getValue())}}
      {{dump(deck[0].getSuite())}} #}
      {% for key, card in deck %}
        <ul>
        <li>
            {{ card.getSuite() }}
        </br>
          {{ card.getValue() }}
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}
