<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    {# <link rel="icon" href="favicon.ico"> #}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
  </head>
  <body>
    <header>
      <h1>MVC DV1609</h1>
    </header>

    <nav class="nav-bar" id="nav-bar">
      <ul>
        <li>
          <a href="{{url("home")}}">Home</a>
        </li>
        <li>
          <a href="{{path("about")}}">About</a>
        </li>
        <li>
          <a href="{{path("report")}}">Report</a>
        </li>
          <li>
          <a href="{{path("form-search")}}">Search</a>
        </li>
          <li>
          <a href="{{path("form-login")}}">Log In</a>
        </li>
      </ul>
    </nav>

    {% block content %}
      Default content
    {% endblock %}

    <div class="sitefooter">
      <p>Skapad utav Frida i BTHs MVC kurs</p>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
